body {
  padding: 70px 15px 0 15px;
}

#hero {
  margin: 60px 0 40px;
}
  #hero h1 {
    font-size: 5em;
  }

#install pre {
  font-size: 1.6em;
}
  #install pre::before {
    content: "$ ";
    font-weight: bold;
    color: #999;
  }
