@import "compass";
@import "vendor/bootstrap.min";
@import "vendor/syntax";

@import "formatting";
@import "news";

#main {
  margin-bottom: 40px;
}

#hero {
  margin: 60px 0 40px;
  h1 {
    font-size: 5em;
  }
}

#install {
  .label {
    @include border-bottom-radius(0);
    background: #ccc;
  }
   pre {
    @include border-top-left-radius(0);
    font-size: 1em;
    &:before {
      content: "$ ";
      font-weight: bold;
      color: #999;
    }
  }
}
