@import "compass";
@import "variables";
@import "vendor/bootstrap/bootstrap";
@import "vendor/syntax";

@import "bootstrap_overrides";
@import "formatting";
@import "news";

#main {
  margin-bottom: 40px;
}

#hero {
  padding: 60px 0;
  margin-top: -20px;
  h1 {
    font-size: 3em;
  }
}

#install {
  margin: 30px 0;
  .label-install {
    @include border-bottom-radius(0);
    background: #969ebb;
    font-size: 90%;
  }
   pre {
    @include border-top-left-radius(0);
    font-size: 1em;
    background: #dee1ea;
    border-color: #969ebb;
    &:before {
      content: "$ ";
      font-weight: bold;
      color: #999;
    }
  }
}

#sidebar {
  section {
    margin-bottom: 20px;
  }
}

.panel {
  &.panel-content {
    padding: 30px;
  }
}

.label {
  &.menu-label {
    color: $gray-light;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

.nav {
  a {
    color: $brand-primary;
  }
  li.active {
    a {
      background: #d3d7e3;
      color: $gray;
    }
  }
}

.overview {
  a {
    display: block;
  }
}
