<tr>
  <td>
    <strong><%= link_to share.name, "/shares/#{share.id}/edit" %></strong><br>
    <small class="text-muted"><%= share.description %></small>
  </td>
  <td>1.76 TB</td>
  <td><a href="#compute" class="btn btn-default btn-mini">Calculate</a></td>
  <td><a href="#" class="btn btn-default btn-mini">Browse</i></a></td>
</tr>
