<div class="header row">
  <div class="col-6">
    <h2><%= @title %></h2>
  </div>
  <div class="col-6 text-right">
    <a href="/shares/new" class="btn btn-primary btn-small">Add Share</a>
  </div>
</div>

<% if @shares.any? %>
  <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>Free</th>
      <th>Size</th>
      <th></th>
    </tr>

    <%= partial :'shares/share',
                :collection => @shares %>
  </table>
<% else %>
  <%= no_results("There are no shares. #{link_to 'Add a share', '/shares/new'}.") %>
<% end %>
