<div class="header row">
  <div class="col-md-6">
    <h2><%= @title %></h2>
  </div>
</div>

<% if @shares.any? %>
  <table class="table table-striped" id="shares">
    <tr>
      <th>Name</th>
    </tr>

    <%= partial :'shares/share',
                :collection => @shares %>
  </table>
<% else %>
  <%= no_results("There are no shares. #{link_to 'Add a share', '/shares/new'}.") %>
<% end %>
