<div class="header row">
  <div class="col-6">
    <h2><%= @title %></h2>
  </div>
  <div class="col-6 text-right">
    <small class="text-muted">Checked yesterday with no errors</small>
    <a href="#" class="btn btn-primary btn-small">Check Parity</a>
  </div>
</div>

<table class="table table-striped">
  <tr>
    <th></th>
    <th>Device</th>
    <th>Temp</th>
    <th>Size</th>
    <th>Errors</th>
  </tr>

  <tr class="text-muted">
    <td></td>
    <td>
      <strong>parity</strong><br>
      <small class="text-muted">WDC_WD20EARX-32PASB0_WD-WCAZAF767066 (sde) 1953514552</small>
    </td>
    <td>44 &deg;C</td>
    <td>2 TB</td>
    <td>0</td>
  </tr>

  <tr>
    <td><i class="icon-refresh" data-toggle="tooltip" title="Disk is spinning"></i></td>
    <td>
      <strong>disk1</strong><br>
      <small class="text-muted">WDC_WD20EARX-32PASB0_WD-WCAZAF767066 (sde) 1953514552</small>
    </td>
    <td>42 &deg;C</td>
    <td>2 TB</td>
    <td>0</td>
  </tr>

  <tr>
    <td><i class="icon-refresh" data-toggle="tooltip" title="Disk is spinning"></i></td>
    <td>
      <strong>disk2</strong><br>
      <small class="text-muted">WDC_WD20EARX-32PASB0_WD-WCAZAF767066 (sde) 1953514552</small>
    </td>
    <td>45 &deg;C</td>
    <td>2 TB</td>
    <td>0</td>
  </tr>
</table>
