body { padding-top: 70px; }

#header {
  margin: 20px 0;
}
#footer {
  border-top: 1px solid #ddd;
  margin-top: 30px;
  padding-top: 30px;
}
.header {
  h2 {
    margin-top: 0;
  }
}

.section {
  margin-bottom: 40px;
  .section-header {
    border-bottom: 1px solid #dedede;
    padding-bottom: 10px;
  }
}

.nav.nav-tabs {
  margin-bottom: 1em;
}
.field-errors {
  p {
    margin-top: 0;
  }
}

.grid-view {
  a {
    display: block;
    @include border-radius(3px);
    &:hover {
      text-decoration: none;
      border: 1px solid #eaeaea;
    }
  }
}

#power-controls {
  z-index: 1001;
  @include pie-clearfix;
  a {
    outline: none;
  }
}

#array-controls {
  margin-right: 10px;
}

#disk-stats {
  .progress {
    height: 30px;
  }
  .progress-bar {
    @include transition(background 0.2s ease);
  }
  .progress-bar-parity {
    background: #aaa;
    &:hover {
      background: lighten(#aaa, 8%);
    }
  }
  .progress-bar-cache {
    background: #888;
    &:hover {
      background: lighten(#888, 8%);
    }
  }
  .progress-bar-used {
    background: #057DB9;
    &:hover {
      background: lighten(#057DB9, 8%);
    }
  }
}
