body { padding-top: 70px; }

#header {
  @include clearfix;
}
#footer {
  border-top: 1px solid #ddd;
  margin-top: 30px;
  padding-top: 30px;
}
.header {
  h2 {
    margin-top: 0;
  }
}

.section {
  margin-bottom: 40px;
  .section-header {
    border-bottom: 1px solid #dedede;
    padding-bottom: 10px;
  }
}

.nav.nav-tabs {
  margin-bottom: 1em;
}
.field-errors {
  p {
    margin-top: 0;
  }
}

.grid-view {
  a {
    display: block;
    @include border-radius(3px);
    &:hover {
      text-decoration: none;
      border: 1px solid #eaeaea;
    }
  }
}

#power-controls {
  z-index: 1001;
  @include pie-clearfix;
  a {
    outline: none;
  }
}

#array-controls {
  margin-right: 10px;
}

#disk-stats {
  .progress {
    height: 38px;
  }
  .progress-bar {
    @include transition(background 0.2s ease);
    &:last-child {
      @include border-right-radius(4px);
    }
  }
  .progress-bar-parity {
    background: #50597b;
    &:hover {
      background: lighten(#50597b, 3%);
    }
  }
  .progress-bar-cache {
    background: #fcb150;
    &:hover {
      background: lighten(#fcb150, 3%);
    }
  }
  .progress-bar-used {
    background: #f76055;
    &:hover {
      background: lighten(#f76055, 3%);
    }
  }
  .progress-bar-free {
    background: transparent;
    border-bottom: none;
    @include box-shadow(none);
  }
}

#power-modal {
  .modal-content {
    @include box-shadow(none);
    border-width: 2px;
    h3 {
      color: #666;
    }
  }
  + .modal-backdrop.fade.in {
    background: white;
    opacity: 0.8;
  }
}

.flash {
  margin-top: -20px;
  @include border-radius(0);
  .icon-danger {
    @extend .icon-warning-sign !optional;
  }
}
