<div id="sidebar">
  <section>
    <h3 class="label menu-label">About Boxcar</h3>
    <ul class="nav">
      {% include nav_link.html title="Frequently Asked Questions" path="/faq" %}
    </ul>
  </section>

  <section><h3 class="label menu-label">Get Started</h3>
    <ul class="nav">
      {% include nav_link.html title="Install Boxcar" path="/docs/install" %}
      {% include nav_link.html title="Basic CLI Usage" path="/docs/cli" %}
      {% include nav_link.html title="Update Boxcar" path="/docs/update" %}
      {% include nav_link.html title="Install Slackware Packages" path="/docs/packages" %}
    </ul>
  </section>
</div>

  <!--
<section>
  <h3>Creating Addons</h3>
  <ul class="nav nav-pills nav-stacked">
    <li class="{% if page.title == 'Quick-start Guide' %}active{% endif %}">
      <a href="/docs/addons/quickstart">Quick-start Guide</a>
    </li>
    <li class="{% if page.title == 'Publishing Addons' %}active{% endif %}">
      <a href="/docs/addons/publishing">Publishing Addons</a>
    </li>
  </ul>
</section>
   -->
