<h4>Getting Started</h4>
<ul class="nav nav-pills nav-stacked">
	<li class="{% if page.title == 'Install Boxcar' %}active{% endif %}">
		<a href="/docs/install">Install Boxcar</a>
	</li>
	<li class="{% if page.title == 'Addons' %}active{% endif %}">
		<a href="/docs/addons">Addons</a>
	</li>
	<li class="{% if page.title == 'Basic CLI Usage' %}active{% endif %}">
		<a href="/docs/cli">Basic CLI Usage</a>
	</li>
	<li class="{% if page.title == 'Update Boxcar' %}active{% endif %}">
		<a href="/docs/update">Update Boxcar</a>
	</li>
</ul>

<h4>Creating Addons</h4>
<ul class="nav nav-pills nav-stacked">
	<li class="{% if page.title == 'Quick-start Guide' %}active{% endif %}">
		<a href="/docs/addons/quickstart">Quick-start Guide</a>
	</li>
	<li class="{% if page.title == 'Publishing Addons' %}active{% endif %}">
		<a href="/docs/addons/publishing">Publishing Addons</a>
	</li>
</ul>
