<div id="footer">
  <div class="row">
    <div class="col-6">
      <small>
        <span class="server"><%= @system.hostname %> - <%= @system.ip %></span><br>
        <span class="version">Unraid v5.0-rc16c</span><br>
        <span class="uptime"><%= @system.uptime %></span>
      </small>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <small>
        By <a href="http://twitter.com/nicinabox">@nicinabox</a>
      </small>
    </div>
  </div>
</div>
