<% button_text = f.object.persisted? ? "Update " : "Create " %>

<div class="form-group">
  <div class="col-lg-5 col-offset-2">
    <%= f.submit button_text << f.object.class.to_s, :class => 'btn btn-primary' %>

    <% if f.object.persisted? %>
      <%= f.submit 'Delete',
            :class => 'btn btn-link delete',
            :'data-method' => :delete,
            :'data-model'  => f.object.class.to_s %>
    <% end %>
  </div>
</div>
