<div id="power-controls" class="dropdown">
  <a href="#" class="btn btn-link pull-right" data-toggle="dropdown">
    <i class="icon-power-off"></i> Power
  </a>
  <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
    <!-- <li><a href="#">Sleep</a></li> -->
    <li><a href="/system/reboot">Reboot...</a></li>
    <li><a href="/system/shutdown">Shutdown...</a></li>
  </ul>
</div>
