<div class="row header">
  <div class="col-12">
    <h2><%= @title %></h2>
  </div>
</div>

<div class="row">
  <div class="col-8">
    <form class="form-horizontal">
      <div class="form-group">
        <label for="inputEmail" class="col-lg-4 control-label">Enable auto start</label>
        <div class="col-lg-8">
          <select name="" id="" class="form-control">
            <option value="yes">Yes</option>
            <option value="no">No</option>
          </select>
        </div>
      </div>

    </form>

  </div>
</div>
