<div class="row header">
  <div class="col-12">
    <h2>Settings</h2>
  </div>
</div>

<section class="section">
  <h3 class="section-header">Unraid</h3>
  <div class="row text-center">
    <div class="col-4 col-lg-2">
      <a href="/settings/date-&-time/edit" class="btn btn-link">
        <i class="icon-time icon-3x"></i><br>
        Date & Time
      </a>
    </div>
    <div class="col-4 col-lg-2">
      <a href="/settings/disks/edit" class="btn btn-link">
        <i class="icon-hdd icon-3x"></i><br>
        Disks
      </a>
    </div>
    <div class="col-4 col-lg-2">
      <a href="#" class="btn btn-link">
        <i class="icon-desktop icon-3x"></i><br>
        Server
      </a>
    </div>
    <div class="col-4 col-lg-2">
      <a href="#" class="btn btn-link">
        <i class="icon-sitemap icon-3x"></i><br>
        Network
      </a>
    </div>
    <div class="col-4 col-lg-2">
      <a href="#" class="btn btn-link">
        <i class="icon-folder-close-alt icon-3x"></i><br>
        Shares
      </a>
    </div>
  </div>
</section>

<section class="section">
  <h3 class="section-header">Network Services</h3>
  <div class="row text-center">
    <div class="col-4 col-lg-2">
      <a href="#" class="btn btn-link">
        <i class="icon-globe icon-3x"></i><br>
        AFP
      </a>
    </div>
    <div class="col-4 col-lg-2">
      <a href="#" class="btn btn-link">
        <i class="icon-globe icon-3x"></i><br>
        NFS
      </a>
    </div>
    <div class="col-4 col-lg-2">
      <a href="#" class="btn btn-link">
        <i class="icon-globe icon-3x"></i><br>
        SMB
      </a>
    </div>
    <div class="col-4 col-lg-2">
      <a href="#" class="btn btn-link">
        <i class="icon-globe icon-3x"></i><br>
        DNS
      </a>
    </div>
    <div class="col-4 col-lg-2">
      <a href="#" class="btn btn-link">
        <i class="icon-globe icon-3x"></i><br>
        FTP
      </a>
    </div>
    <div class="col-4 col-lg-2">
      <a href="#" class="btn btn-link">
        <i class="icon-globe icon-3x"></i><br>
        Web Server
      </a>
    </div>
  </div>
</section>

<section class="section">
  <h3 class="section-header">Custom</h3>
  <div class="row text-center">
    <div class="col-4 col-lg-2">
      <a href="#" class="btn btn-link">
        <i class="icon-cog icon-3x"></i><br>
        OpenSSH
      </a>
    </div>
    <div class="col-4 col-lg-2">
      <a href="#" class="btn btn-link">
        <i class="icon-cog icon-3x"></i><br>
        Transmission
      </a>
    </div>
    <div class="col-4 col-lg-2">
      <a href="#" class="btn btn-link">
        <i class="icon-cog icon-3x"></i><br>
        Plex
      </a>
    </div>
  </div>
</section>
