<div class="header row">
  <div class="col-md-6">
    <h2><%= @title %></h2>
  </div>
</div>

<div id="addons">
  <div class="well">Loading...</div>
</div>

<script id="tmpl-addon" type="text/x-handlebars-template">
  <div class="row">
    <form action="/addons/install"
          method="post"
          class="addon panel panel-default clearfix">
      <div class="col-sm-10">
        <header>
          <h3>{{ name }} <small>{{ latest.number }}</small></h3>
          {{#if latest.author}}
            <small>by {{ latest.author }}</small>
          {{/if}}
        </header>
        <p>{{ latest.description }}</p>

        <input type="hidden" name="name" value="{{ name }}">
        <input type="hidden" name="endpoint" value="{{ endpoint }}">

      </div>
      <div class="col-sm-2">
        <button type="submit" class="btn btn-primary install" data-loading-text="Installing...">
          Install
        </button>
      </div>
    </form>
  </div>
</script>
