<div class="header row">
  <div class="col-md-6">
    <h2><%= @title %></h2>
  </div>
</div>

<div id="addons">
  <div class="well">Loading...</div>
</div>

<script id="tmpl-addon" type="text/x-handlebars-template">
  {{#each addons}}
    <div class="addon row" data-name="{{ name }}" data-endpoint="{{ endpoint }}">
      <div class="col-sm-5">
        <h3>{{ name }} <small>{{ latest.number }}</small></h3>
        <p>{{ latest.description }}</p>
      </div>
      <div class="col-sm-2">
        <a href="/addons/install" class="btn btn-primary install">
          Install
        </a>
      </div>
    </div>
    <hr>
  {{/each}}
</script>
