#header {
  margin: 20px 0;
}
#footer {
  border-top: 1px solid #ddd;
  margin-top: 30px;
  padding-top: 30px;
}
.header {
  h2 {
    margin-top: 0;
  }
}

.section {
  margin-bottom: 40px;
  .section-header {
    border-bottom: 1px solid #dedede;
    padding-bottom: 10px;
  }
}
