<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width">

  <!-- syntax highlighting CSS -->
  <link rel="stylesheet" href="/css/syntax.css">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <div id="root" class="container">
    <div id="header" class="text-center">
      <h1>Boxcar</h1>
      <h3>for unRAID</h3>
    </div>
    <div id="main">
      Install:
      <pre>
bash <(curl -s http://nicinabox.com/boxcar/install)
      </pre>
    </div>
  </div>
</body>
</html>
