<div class="row header">
  <div class="col-6">
    <h2>Users</h2>
  </div>
  <div class="col-6 text-right">
    <a href="#" class="btn btn-primary btn-small">Add User</a>
  </div>
</div>

<table class="table table-striped">
  <tr>
    <th>Username</th>
    <th>Comment</th>
  </tr>
  <tr>
    <td><a href="#">root</a></td>
    <td>Console and web user</td>
  </tr>
  <tr>
    <td><a href="#">nic</a></td>
    <td></td>
  </tr>
</table>
