<div class="row header">
  <div class="col-12">
    <h2><%= @title %></h2>
  </div>
</div>

<section class="section">
  <h3 class="section-header">Development</h3>
  <div class="row text-center">
    <div class="col-4 col-lg-2">
      <a href="#" class="btn btn-link">
        <i class="icon-terminal icon-3x"></i><br>
        Page Map
      </a>
    </div>
    <div class="col-4 col-lg-2">
      <a href="#" class="btn btn-link">
        <i class="icon-terminal icon-3x"></i><br>
        Processes
      </a>
    </div>
    <div class="col-4 col-lg-2">
      <a href="#" class="btn btn-link">
        <i class="icon-terminal icon-3x"></i><br>
        System Log
      </a>
    </div>
    <div class="col-4 col-lg-2">
      <a href="#" class="btn btn-link">
        <i class="icon-terminal icon-3x"></i><br>
        Vars
      </a>
    </div>
  </div>
</section>

<section class="section">
  <h3 class="section-header">System</h3>
  <div class="row text-center">
    <div class="col-4 col-lg-2">
      <a href="#" class="btn btn-link">
        <i class="icon-group icon-3x"></i><br>
        Active Streams
      </a>
    </div>
    <div class="col-4 col-lg-2">
      <a href="#" class="btn btn-link">
        <i class="icon-bar-chart icon-3x"></i><br>
        Activity Monitor
      </a>
    </div>
    <div class="col-4 col-lg-2">
      <a href="#" class="btn btn-link">
        <i class="icon-keyboard icon-3x"></i><br>
        Logs
      </a>
    </div>
    <div class="col-4 col-lg-2">
      <a href="#" class="btn btn-link">
        <i class="icon-lightbulb icon-3x"></i><br>
        System Profiler
      </a>
    </div>
  </div>
</section>

<section class="section">
  <h3 class="section-header">Upgrade</h3>
  <div class="row text-center">
    <div class="col-4 col-lg-2">
      <a href="#" class="btn btn-link">
        <i class="icon-terminal icon-3x"></i><br>
        Reset Array
      </a>
    </div>
    <div class="col-4 col-lg-2">
      <a href="#" class="btn btn-link">
        <i class="icon-terminal icon-3x"></i><br>
        Reset Permissions
      </a>
    </div>
  </div>
</section>
